div {
    border:solid navy 1px;
  }

.main {

    display: block;
    width: 500px;
    height: 800px;
    align-items: center;
    justify-content: center
  }

  .entry{
      display: block;
      width: 400px;
      height: 30px;
      margin: 10px auto;
      padding: 15px; 
      border:none;
  }
  .listing{
      display: block;
      margin:10px auto;
      width:400px;
      height: 600px;
      padding:20px 20px 20px 0;
  }
  button{
      float:right;
  }
  li{
      list-style-type: none;
      height: 25px;
      border-spacing: 5px;
      align-content: center;
  }